<a href="https://colab.research.google.com/github/Venumurala91/python_solved_codes/blob/main/python_practice_problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import decimal
integer=10
print(decimal.Decimal(integer))
print(type(decimal.Decimal(integer)))

10
<class 'decimal.Decimal'>

In [ ]:


lis=["p","y","t","h","o","n"]

j="".join(lis)
print(j)

python

In [ ]:
str1="Listen           "
str2="silent"
r=str1.rstrip()
print(r)
str1=str1.replace(" ","").upper()
str2=str2.replace(" ","").upper()

print(sorted(str1))
print(sorted(str2))

Listen

In [ ]:
a=0
b=1

for i in range(10):
  temp=a
  a=b
  b=temp+a
  print(temp,end=" ")

0 1 1 2 3 5 8 13 21 34

In [ ]:
import re

name='Python is 1'
digitcount=len(re.findall(r'\d',name))
print(digitcount)

d=re.sub("[^0-9]","",name)
print(d)

1
1

In [ ]:
s="P Y T H O N"


c=s.replace(" ","")
print(c)

PYTHON

In [ ]:
def pyramid(n):
  for i in range(n):
    print(" ",end="")

  for j in range(i,n):
    print("*",end="")

  for j in range(i):
    print("*",end="")

  print("")


pyramid(5)

     *****

In [ ]:
rows = 5  # You can change this to make a bigger or smaller pyramid

for i in range(1, rows + 1):
    # Print spaces
    print(" " * (rows - i), end="")
    # Print stars
    print("*" * (2 * i - 1))

    *
   ***
  *****
 *******
*********

In [ ]:

# A simple decorator function
def decorator(func):

    def wrapper():
        print("Before calling the function.")
        func()
        print("After calling the function.")
    return wrapper

# Applying the decorator to a function
@decorator
def greet():
    print("Hello, World!")

greet()

Before calling the function.
Hello, World!
After calling the function.

In [ ]:

def decorator(func):
    def wrapper(*args, **kwargs):
        print("Before calling the function.")
        result = func(*args, **kwargs)
        c=5
        d=result+5
        print("After calling the function.")
        return d
    return wrapper
@decorator
def add(a,b):
  return a+b

add(4,5)

Before calling the function.
After calling the function.

14

In [ ]:
rows = 5
for i in range(1, rows + 1):
    print(" " * (rows - i) + "*" * (2 * i - 1))

    *
   ***
  *****
 *******
*********

In [ ]:
rows = 5
for i in range(1, rows + 1):
    print("*" * i)

*
**
***
****
*****

In [ ]:
rows = 5
for i in range(rows, 0, -1):
    print("*" * i)

*****
****
***
**
*

In [ ]:
rows = 5
for i in range(1, rows + 1):
    print(" " * (rows - i), end="")
    print(str(i) * (2 * i - 1))

    1
   222
  33333
 4444444
555555555

In [ ]:
rows = 5

# Upper part
for i in range(1, rows + 1):
    print(" " * (rows - i) + "*" * (2 * i - 1))

# Lower part
for i in range(rows - 1, 0, -1):
    print(" " * (rows - i) + "*" * (2 * i - 1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [ ]:
import numpy as np
import pandas as pd

In [1]:
# Function to check whether any pair exists
# whose sum is equal to the given target value
def twoSum(arr, target):
    n = len(arr)

    # Iterate through each element in the array
    for i in range(n):

        # For each element arr[i], check every
        # other element arr[j] that comes after it
        for j in range(i + 1, n):

            # Check if the sum of the current pair
            # equals the target
            if arr[i] + arr[j] == target:
                return True

    # If no pair is found after checking
    # all possibilities
    return False

if __name__ == "__main__":
    arr = [0, -1, 2, -3, 1]
    target = -2

    if twoSum(arr, target):
        print("true")
    else:
        print("false")

true